
/* RESETS */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* FONTS */
$main-font-family: 'Roboto', sans-serif; :root{--main-font-family: #{$main-font-family};}
$accent-font-family: 'Poppins', sans-serif; :root{--accent-font-family: #{$accent-font-family};}

/* COLOR THEME */
$primaryColor: #3368C6; :root{--primaryColor: #{$primaryColor};}

$secondaryColor: #18336C; :root{--secondaryColor: #{$secondaryColor};}

$textColor: #788AAF; :root{--textColor: #{$textColor};}
$subTextColor: #8093A8; :root{--subTextColor: #{$subTextColor};}


$accentColor: #0884B5; :root{--accentColor: #{$accentColor};}

$lightGray: #F9F9F9; :root{--lightGray: #{$lightGray};}
$lightBlue: #F5F9FD; :root{--lightBlue: #{$lightBlue};}

$darkCharcoal: #333333; :root{--darkCharcoal: #{$darkCharcoal};}

/* SIZING VARIABLES */
$main-font-size: 15px; :root{--main-font-size: #{$main-font-size};}
$main-line-height: 24px; :root{--main-line-height: #{$main-line-height};}
$main-font-weight: 400; :root{--main-font-weight: #{$main-font-weight};}

$overlapping-gap: 4rem; :root{--overlapping-gap: #{$overlapping-gap};}

/* ANIMATIONS */
$transition-timing : .2s; :root{--transition-timing: #{$transition-timing};}

/* SHAPES */
$border-radius : .2rem; :root{--border-radius: #{$border-radius};}
$light-border-color : #EAEFF5; :root{--light-border-color: #{$light-border-color};}
$border-line : 1px solid $light-border-color;


/* SETS */
*{
  scroll-behavior: smooth;


  &::selection{
    color: white;
    background-color: $primaryColor;
  }
}

html {
  font-size: $main-font-size;
  line-height: $main-line-height;
  font-family: $main-font-family;
  font-weight: $main-font-weight;
}

.hidden{
  display: none !important;
}