%button-style{
  padding: .75rem 1.5rem;
  color: $primaryColor;
  background-color: unset;
  width: fit-content;
  width: -moz-fit-content;
  text-decoration: none;
  font-weight: 500;
  border: 1px solid $primaryColor;
  border-radius: $border-radius;
  cursor: pointer;
  transition: all $transition-timing ease-in-out;

  &:hover{
    background-color: $primaryColor;
    color: white;
  }
}

%mini-section-header{
  font-family: $accent-font-family;
  color: $secondaryColor;
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  position: relative;

  &::after{
    content: '';
    height: 2px;
    width: 2.5rem;
    background-color: $primaryColor;
    position: absolute;
    left: 0;
    bottom: -.5rem;
  }
}

%section-padding{
  padding: 4rem 0;
}

.bold{
  font-weight: bold;
}

.section-title{
  text-align: center;
  font-size: 2rem;
  color: $secondaryColor;
  margin-bottom: 2rem;
}

.section-subtitle{
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: .25rem;
  color: $primaryColor;
  margin-bottom: .5rem;
}

.primary-colored{
  background-color: $primaryColor !important;
}

.secondary-colored{
  background-color: $secondaryColor !important;
}

.fadeOut{
  animation: fadeOut 1s ease-in-out;
  animation-fill-mode: forwards;

  @keyframes fadeOut {
    100%{
      opacity: 0;
    }
  }
}